body{
  background-color: #d9e5d7;
  font-family: Georgia;
}
.btn{
  text-align: center;
}
.jumbotron{
  text-align: center;
  font-style: italic;
}
.col-md-4{
  margin-bottom: 10px;
}
#start{
  width: 250px;
}
#cSharp{
  display: none;
}
